.container {
  max-width: 1170px;
  margin: auto;
}

.flex {
  display: flex;
}
.flex_justify {
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 904px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 704px;
  }
}

@media (max-width: 768px) {
  .container {
    // max-width: 330px;
    max-width: 100%;
    padding: 0 15px;
  }
}
